name: Python Linter Check 

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Gihub Repo
      uses: actions/checkout@v4

    - name: Set Up Python 
      uses: actions/setup-python@v5
      with: 
        python-version: 3.12
        
    - name: Install Ruff
      run: pip install ruff

    - name: Check Linter errors 
      run: ruff check . --output-format=github